<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>

<div class="container d-flex justify-content-center align-items-center vh-100">

    <div class="card p-4 shadow" style="width: 22rem;">
        <h3 class="text-center mb-3">Create Account</h3>
        <hr/>
        <div th:if="${success}" class="alert alert-success" role="alert">
            <strong>Account created!&nbsp;&nbsp;</strong>
            <a th:href="@{/login}">Login</a>
        </div>

        <form th:action="@{/create-account}" method="post" enctype="multipart/form-data">
            <div class="mb-3">
            <label for="username" class="form-label">User Name:</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Enter username" required>
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Password:</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="Enter password" required>
            </div>

            <div class="mb-3">
                <label for="file" class="form-label">Photo:</label>
                <input type="file" id="file" name="file" class="form-control" >
            </div>

            <button type="submit" class="btn btn-primary w-100">Create</button>

        </form>


</div>
</div>
</body>
</html>