<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8">
    <title>Main Layout</title>l
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}"/>

</head>
<body>
<div class="container">
<nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Spring MVC</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link text-dark" href="/thymeleaf">Thymeleaf</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-dark" href="/contact">Contact Us</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-dark" href="/products/display">Gestion Produits</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-dark" href="/utilisateurs/display">Gestion Utilisateurs</a>
                </li>

            </ul>

            <ul class="navbar-nav" th:if="${session.user == null}">

                <li class="nav-item">
                    <a class="btn btn-outline-primary me-2" href="/create-account">Create Account</a>
                </li>

                <li class="nav-item">
                    <a class="btn btn-primary" href="/login">Login</a>
                </li>
            </ul>

            <ul class="navbar-nav" th:unless="${session.user == null}">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <span th:text="${session.username}"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li><a class="dropdown-item" href="#">Home</a></li>

                    </ul>
                </li>&nbsp;&nbsp;


                <li class="nav-item">
                    <a class="btn btn-danger" href="/logout">Logout</a>
                </li>
            </ul>

        </div>
    </div>
</nav>
</div>
<div class="container">
    <div layout:fragment="content">

    </div>
</div>




<script th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>